
nav, .page-footer {
    background-color: #5B5C50;
}
.card-panel {
    background-color: #E4DCC0;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}