/* Google font Import*/

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Syne+Mono&display=swap');

/* ------------------------------------------------ general css */

body {
    font-family: 'Gruppo', cursive;
    font-size: 18px;
}

.header-text {
    font-family: 'Syne Mono', monospace;
    color: #5B5C50;
    text-shadow: 2px 2px 5px red;
}

.header-text-blue {
    font-family: 'Syne Mono', monospace;
    color: #5B5C50;
    text-shadow: 2px 2px 5px #1f38c6;
}

.p-t {
    padding-top: 2%;
}

.p-b {
    padding-bottom: 10px;
}

.m-r {
    margin-right: 2%;
}

.shadow {
    box-shadow : 0 4px 8px 0 rgba(208, 17, 16, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blue-shadow {
    box-shadow : 0 4px 8px 0 rgb(31, 56, 198), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.no-box-shadow {
    box-shadow: none;
}

.card-panel {
    background-color: #C2AD90;
}

hr {
    width: 100%;
    height: 0.5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5B5C50;
    border: 0 none;
    box-shadow : 0 4px 8px 0 rgba(91, 92, 80, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .hide {
    visibility: hidden;
    display: none;
}

/* ---------------------------------- hero & header block */

.hero-block {
    height: 40vh;
    background: url(../images/banner.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-header {
    font-size: 22px;
}

.nav-header:hover {
    font-size: 22px;
    background-color: rgba(208, 17, 16, 0.6);
}


#header-nav, .page-footer {
    background-color: #5B5C50;
}

.dropdown-style {
    display: block;
    background-color: rgb(108, 109, 99);
    width: 160px;
}

.dropdown-content li>a {
    font-family: 'Gruppo', cursive;
    font-size: 16px;
    color: white;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}


/* --------------------------------------- nav bar ul cetnered */

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

/* -------------------------------------- Footer*/

#footer-logo {
    height: 180px;
    width: 180px;
}


/* ------------------------------------- Submit btn form */

.placeholder-text {
    font-family: 'Gruppo', cursive;
    font-size: 18px;
    font-weight: bold;
}

input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid red;
    background-color: #E4DCC0;
    border-radius: 5px;
    box-shadow : 0 4px 8px 0 rgba(208, 17, 16, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-btn {
    background-color: #5B5C50;
    box-shadow: 0 4px 8px 0 rgba(208, 17, 16, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-btn:hover {
    background-color: #5B5C50;
    box-shadow: 0 4px 8px 0 rgba(208, 17, 16, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: brightness(130%);
}

/* -------------------------------------- flash messages */ 

.flash-container {
    max-width: 300px;
    padding: 10px;
    background-color: #C2AD90;
    box-shadow : 0 4px 8px 0 rgba(208, 17, 16, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ------------------------------------- Cat carousel */

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
}

.square {
    height: 200px;
    width: 200px;
    background-color: #555;
  }

.middle {
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

/* ---------------------------------------------- Review page */

#r-heading {
    font-family: 'Syne Mono', monospace;
    font-size: 20px;
    text-shadow: 2px 2px 5px red;
}

nav {
    background-color: rgba(255,255,255, 0);
}

#bcrumbs {
    box-shadow: none;
}

.breadcrumb {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255,255,255,0.7);
}

.card-margin {
    margin: 15px;
}

/* ----------------------------------------- Add_review.html */

#add-panel {
    background-color: rgba(255,255,255,0);
    box-shadow: none;
}

#gamer-head {
    font-family: 'Gruppo', cursive;
    font-size: 15px;
    color: #5B5C50;
    text-shadow: 2px 2px 5px #5B5C50;
    margin: 0;
}

/* --------------------------------------------------------------------- check boxes */ 

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #5B5C50;
    background-color: #6F7378;
    box-shadow : 0 4px 8px 0 rgba(208, 17, 16, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-------------------------------------------------------------------   Account.html */

.my-review {
    font-size: 30px;
    padding-left: 30px;
}

.btn-small {
    margin: 4px;
}


.edit-btn, .save-btn {
    background-color: rgba(128, 128, 128, 0.85);
    box-shadow: 0 4px 8px 0 rgb(31, 56, 198,1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: brightness(130%);
}

.edit-btn:hover, .save-btn:hover {
    background-color: rgba(128, 128, 128, 0.85);
    filter: brightness(130%);
}

.cancel-btn {
    background-color: #5B5C50;
    filter: brightness(130%);
}

.cancel-btn:hover {
    filter: brightness(130%);
    background-color: #5B5C50;
    box-shadow: 0 4px 8px 0 rgba(208, 17, 16, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete-btn {
    background-color: rgba(70, 68, 68, 0.85);
    filter: brightness(130%);
}

.delete-btn:hover {
    background-color: rgba(70, 68, 68, 0.85);
    filter: brightness(130%);
    box-shadow: 0 4px 8px 0 rgba(208, 17, 16, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
