{% extends "base.html" %}
{% block content %}

<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
    <h1 class="center-align header-text">
        <i class="fa-solid fa-user"></i>
        <br>
        {{ gamer_id }}
    </h1>
</form>

<!-- Loop displays review now (bottom content)-->
{% for r in reviews %}
    <!-- Shows when user HAS reviews -->

    <!-- My Reviews -->
    <form class="col s12 m8 offset-m2 p-b" method="POST" action="{{ url_for('login') }}">
        <h3 class="header-text-blue my-review">My Reviews</h3>
    </form>

    <!-- Display Review Template -->
    <div class="row center-align card-margin">
        {% for review in reviews %}

            <div class="col s12">
                <div class="card-panel shadow">
                    <!-- Game Name-->
                    <div class="center-align">
                        <h3 id="r-heading">{{ review.game_name }}</h3>
                    </div>

                    <!-- Category -->
                    <div class="col s12 center-align">
                        <p class="cat-margin review-sub">{{ review.category_type }}</p>
                    </div>

                    <!-- Console -->
                    <div class="col s12 center-align ">
                        <p class="review-sub no-margin p-b ">{{ review.console_type }}</p>
                    </div>

                    <div class="row">
                        <!-- Review content -->
                        <div class="col s12">
                            {{ review.review_content|truncate(120, true, '') }}
                            <a id="read_more" href="{{ url_for('read_more', reviews_id=review._id) }}">read more</a>
                        </div>
                    </div>

                    <!-- Edit & Delete Btn -->
                    <div class="row">
                        <div class="col s10 offset-s1 l6 offset-l3">
                            <a href="{{ url_for('edit_review', reviews_id=review._id) }}" class="btn-small edit-btn">Edit</a>
                            <a href="#modal-delete-{{review._id}}" class="delete-btn red btn modal-trigger"><span id="text-d-btn">Delete</span></a>
                        </div>
                        <!-- Confirmation deletion Modal -->
                        <div id="modal-delete-{{review._id}}" class="modal shadow p-t">
                            <div class="modal-content">
                                <h4 class="header-text-blue">Confirm Delete Review</h4>
                                <p> Are you sure you want to delete {{ review.game_name }} review?</p>
                            </div>
                            <div class="modal-footer center-align">
                                <a href="{{ url_for('delete_review', reviews_id=review._id) }}"
                                    class="delete-btn btn red modal-trigger modal-close"><span id="text-d-btn">Delete</span></a>
                                <a href="#" class="modal-close waves-effect waves-green btn-flat blue-shadow">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row center-align">
                    <div class="col s12 l2">
                    </div>
                    <div class="col s12 l8">
                        <hr>
                    </div>
                    <div class="col s12 l2">
                    </div>
                </div>
        {% endfor %}
            </div>

{% else %}
        <!-- Shows if user has NO reviews -->
        <div class="row p-b">
            <div class="col s12 m10 offset-m1 l8 offset-l2 xl4 offset-xl2">
                <h3 id="no-reviews">
                    You have yet to write a review
                </h3>
                <a href="{{ url_for('add_review') }}" id="review-now" class="btn-small">Review Now</a>
            </div>
        </div>
    </div>

{% endfor %}

{% endblock %}