{% extends "base.html" %}
{% block content %}

<div>
    <h1 class="center-align header-text">Review Now</h1>
</div>

<div class="container">
    <div class="row">
        <form class="col s10 offset-s1" method="POST" action="{{ url_for('add_review') }}">
            <div class="row">
                <!-- Game Name -->
                <div class="row">
                    <div class="input-field col s12 l6">
                        <label for="game_name" class="hide">Game Name</label>
                        <input placeholder="Game Name" id="game_name" name="game_name" class="input-bg" type="text"
                            class="validate" required>
                    </div>


                    <!-- console type (dropdown) -->

                    <div class="input-field col s12 l6">
                        <select id="console_type" name="console_type" class="icons validate" required>
                            <option class="op-style" value="" disabled selected>Select Console</option>
                            {% for con in console %}
                            <option value="{{ con.console_type }}">{{ con.console_type }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Category dropdown -->
                <div class="row">
                    <div class="input-field col s12">
                        <select id="category_name" name="category_name" class="icons validate" required>
                            <option class="op-style" value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">
                                {{ category.category_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Review content -->
                <div class="row">
                    <div class="input-field col s12">
                        <label for="review_content" class="label-form">Review Content</label>
                        <textarea id="review_content" name="review_content" class="materialize-textarea"
                            minlength="120"></textarea>
                    </div>
                </div>

                <!-- Submit btn -->
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light sub-btn" type="submit">
                        Submit Review
                    </button>
                </div>
                
            </div>
        </form>
    </div>
</div>

{% endblock %}