{% extends "base.html" %}
{% block content %}

<div>
    <h3 class="center-align header-text">Review Now</h3>
</div>

<div id="add-panel" class="row card-panel">
    <form class="col s12" method="POST">

        <!-- Game Name -->
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Game Name" id="game_name" name="game_name" type="text"
                    class="placeholder-text validate" required>
            </div>

            <!-- console type (dropdown) -->
            <div class="row">
                <div class="input-field col s12 m6">
                    <select id="console_type" name="console_type" class="icons validate" required>
                        <option value="" disabled selected>Select Console</option>
                        {% for con in console %}
                            <option value="{{ con.console_type }}" data-icon="images/sample-1.jpg">{{ con.console_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Category selector -->
            <div class="row">
                <div class="col s12">
                    <ul>
                        {% for category in categories %}
                            <li class="col s2">
                                <label>
                                    <input type="checkbox" class="filled-in" checked="checked" />
                                    <span>{{ category.category_name }}</span>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Review content-->

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="review_content" name="review_content" placeholder="Type Review Here"
                        class="materialize-textarea placeholder-text"></textarea>
                </div>
            </div>

        </div>
    </form>
</div>

{% endblock %}