{% extends "base.html" %}
{% block content %}

<div class="row">
    <form id="contact_form" class="col s10 offset-s1 m8 offset-m2">
        <div class="row">
            <div>
                <h1 class="center-align header-text">Contact Now</h1>
            </div>

            <!-- Submission reponse -->
            <div id="response" class="center-align p-b">
                <p></p>
            </div>

            <!-- Name -->
            <div class="row">
                <div class="input-field col s12">
                    <label for="name" class="hide">name</label>
                    <input placeholder="Name" id="name" name="name" class="input-bg" type="text" class="validate"
                        required>
                </div>
            </div>

            <!-- Email -->
            <div class="row">
                <div class="input-field col s12">
                    <label for="email" class="hide">email</label>
                    <input placeholder="Email" id="email" name="email" class="input-bg" type="text" class="validate"
                        required>
                </div>
            </div>

            <!-- Message -->
            <div class="row">
                <div class="input-field col s12">
                    <label for="message_content" class="label-form">Type message below:</label>
                    <textarea id="message_content" name="message_content" class="materialize-textarea validate" required></textarea>
                </div>
            </div>

            <!-- Submit btn -->
            <div class="col s12 center-align">
                <button id="send_btn" class="btn waves-effect waves-light sub-btn" onclick="sendMail()" value="Send" type="submit">
                    Send Message
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Jsdelivr script -->
<script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script type="text/javascript">
    (function() {
    emailjs.init("MH6RI5ZX8w-9dnuOs");
    })();
    </script>

<script src="static/js/email.js"></script>

{% endblock %}