{% extends "base.html" %}
{% block content %}

<div>
    <h1 class="center-align header-text">Edit Review</h1>
</div>

<div class="container">
    <div class="row">
        <form class="col s10 offset-s1" method="POST" action="{{ url_for('edit_review', reviews_id=reviews._id) }}">
            <div class="row">
                <!-- Game Name -->
                <div class="row">
                    <div class="input-field col s12 l6">
                        <label for="game_name" class="hide">Game Name</label>
                        <input value="{{ reviews.game_name }}" placeholder="Game Name" id="game_name" name="game_name"
                            class="input-bg" type="text" class="validate" required>
                    </div>


                    <!-- console type (dropdown) -->
                    <div class="input-field col s12 l6">
                        <select id="console_type" name="console_type" class="icons validate" aria-label="select console" required>
                            <label for="console_type" class="hide">Console Type</label>
                            <option value="" class="left" disabled>Select Console</option>
                            {% for review in reviews %}
                                {% for con in console %}
                                    {% if con.console_name == reviews.console_type %}
                                        <option value="{{ con.console_type }}">
                                            {{- con.console_type -}}
                                        </option>
                                    <!-- {% else %}
                                        <option value="{{ con.console_type }}">
                                            {{- con.console_type -}}
                                        </option> -->
                                    <!-- {% endif %} -->
                                {% endfor %} 
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Category dropdown -->
                <div class="row">
                    <div class="input-field col s12">
                        <select id="category_name" name="category_name" class="icons validate" aria-label="select category" required>
                            <label for="review_content" class="hide">Review Content</label>
                            <option value="" class="left" disabled>Select Console</option>
                            {% for category in categories %}
                                {% if category.category_name == reviews.category_type %}
                                    <option value="{{ category.category_name }}">
                                        {{- category.category_name -}}
                                    </option>
                                {% else %}
                                    <option value="{{ category.category_name }}">
                                        {{- category.category_name -}}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Review content -->
                <div class="row">
                    <div class="input-field col s12">
                        <label for="review_content" class="hide">Review Content</label>
                        <textarea id="review_content" name="review_content" placeholder="Type Review Here"
                            class="materialize-textarea">
                            {{- reviews.review_content -}}
                        </textarea>
                    </div>
                </div>

                <!-- Save & Cancel btn -->
                <div class="col s8 offset-s2">
                    <div class="center-align">
                        <a href="#" class="btn-small cancel-btn" onclick="window.location.href = 'https://game-review.herokuapp.com/account'">Cancel</a>
                        <button type="submit" class="btn-small save-btn">Save</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

{% endblock %}
