{% extends "base.html" %}
{% block content %}

<!-- filter by Catergories -->
<section>
    <div>
        <h3 class="center-align header-text">Categories</h3>
    </div>

  <div class="carousel">
    {% for category in categories %}
        <a class="carousel-item" href="#one!">
            <div class="square blue-shadow middle">
                {{ category.category_name }}
            </div>
        </a>
    {% endfor %}
  </div>
</section>

<!-- Filter by Console -->
<section>
    <div>
        <h3 class="center-align header-text">Reviews by Devices</h3>
    </div>

    <div class="row p-t">
        {% for con in console %}
        <div class="col s3">
            <div class="center-align">
                <button class="console-btn blue-shadow">{{ con.console_type }}</button>
            </div>
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

      
{% endblock %}