{% extends "base.html" %}
{% block content %}

<section class="container">
    <div>
        <h1 id="home-header" class="center-align header-text">Search Reviews</h1>
    </div>

    <!-- Search bar -->
    <div class="row search">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row center-align">
                <div class="row">
                    <div class="col s12 l2">
                    </div>
                    <div class="col s12 l8">
                        <input type="text" name="query" id="query" minlength="2" class="validate" placeholder="Search"
                            required></div>
                    <div class="col s12 l2">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}