{% extends "base.html" %}
{% block content %}

<section class="hero-container">
<div class="">
    <h3 class="center-align header-text">Search Reviews</h3>
</div>

<!-- Search bar -->
<div class="row p-t-search">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row center-align">
            <div class="row">
                <div class="col s12 m4 l2">
                </div>
                <div class="col s12 m4 l8">
                    <input type="text" name="query" id="query" minlength="2" class="validate" placeholder="Search" required></div>
                <div class="col s12 m4 l2">
                </div>
            </div>
            <!-- Search btn -->
            <div class="row center-align">
                <div class="div col s12">
                    <button type="submit" class="blue-shadow">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
</section>

<!-- <section>
    <div>
        <h3 class="center-align header-text">Reviews by Devices</h3>
    </div>

    <div class="row p-t">
        {% for con in console %}
        <div class="col s3">
            <div class="center-align">
                <button class="console-btn blue-shadow">{{ con.console_type }}</button>
            </div>
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</section> -->
  
{% endblock %}