{% extends "base.html" %}
{% block content %}

<div>
    <h3 class="center-align header-text">All Reviews</h3>
</div>

<div class="row center-align card-margin">
    {% for review in reviews %}

    <div class="col s6">
        <div class="card-panel shadow">
            <!-- Game Name-->
            <div class="center-align">
                <h3 id="r-heading">{{ review.game_name }}</h3>
            </div>

            <!-- Review by -->
            <div class="center-align">
                <h3 id="gamer-head">{{ review.uploaded_by }}</h3>
            </div>

            <!-- Category-->
            <div class="col s12 p-b">
                <p><strong>{{ review.console_type }}</strong></p>
            </div>

            <div class="row">
                <!-- Review content -->
                <div class="col s12">
                    {{ review.review_content|truncate(120, true, '') }}
                    <a  id="read_more" href="{{ url_for('read_more', reviews_id=review._id) }}">read more</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}